.header { display: block; width: 100%; }
.header .banner { width: 100%; }

html { width: 100%; }

body { width: 100%; font-size: 24px; overflow-x: hidden; font-family: 'Microsoft YaHei'; }
body.gray { background-color: #efefef; }

.clr { *zoom: 1; }
.clr:after, .clr:before { content: ""; display: block; clear: both; }

/*clear default style*/
a, a:hover, a:visited, a:active { color: inherit; text-decoration: none; }

/*common component*/
.navbar-wrapper { position: relative; padding: 0; }
.navbar-wrapper .navbar { box-shadow: none; z-index: 20; width: 100%; margin: 0; border: 0; }
.navbar-wrapper .navbar-home { position: absolute; top: 0; left: 0; background-color: transparent; color: #FFF; z-index: 100; transition: all 200ms ease-in-out; }
.navbar-wrapper .navbar-home .navbar-brand { padding: 0.33333em 1.83333em; }
.navbar-wrapper .navbar-home .navbar-nav.navbar-right { margin-right: 18%; }
.navbar-wrapper .navbar-home .navbar-nav .navbar-item { position: relative; }
.navbar-wrapper .navbar-home .navbar-nav .navbar-item + .navbar-item { margin-left: 1.25em; }
.navbar-wrapper .navbar-home .navbar-nav .navbar-item > a { cursor: pointer; font-size: 0.625em; line-height: 1; padding-top: 2em; padding-bottom: 1.33333em; border-top: 0.26667em solid transparent; border-left: 0.13333em solid transparent; border-right: 0.13333em solid transparent; display: block; background: transparent; z-index: 1; }
.navbar-wrapper .navbar-home .navbar-nav .navbar-item > a em { padding: 0 1em; }
.navbar-wrapper .navbar-home .navbar-nav .navbar-item > a:hover, .navbar-wrapper .navbar-home .navbar-nav .navbar-item > a.active { border-top: 0.26667em solid #005b74; border-left: 0.13333em solid #005b74; border-right: 0.13333em solid #005b74; background: #ffffff; color: #005b74; z-index: 1; }
.navbar-wrapper .navbar-home .navbar-nav .navbar-item .navbar-sub-nav { display: none; width: 12.41667em; height: 5.5em; background: #fff; position: absolute; border-top: 0.08333em solid #005b74; border-left: 0.08333em solid #005b74; border-right: 0.08333em solid #005b74; margin-top: -0.08333em; z-index: 0; top: 100%; padding: 0.66667em; }
.navbar-wrapper .navbar-home .navbar-nav .navbar-item .navbar-sub-nav.navbar-position-right { right: 0; }
.navbar-wrapper .navbar-home .navbar-nav .navbar-item .navbar-sub-nav .spilt { height: 100%; position: relative; }
.navbar-wrapper .navbar-home .navbar-nav .navbar-item .navbar-sub-nav .spilt:after { position: absolute; content: ""; width: 0; border: none; border-left: 1px solid #e1e1e1; height: 100%; top: 0; left: 50%; }
.navbar-wrapper .navbar-home .navbar-nav .navbar-item .navbar-sub-nav .navbar-sub-title { font-size: 0.58333em; line-height: 1.8; color: #535353; }
.navbar-wrapper .navbar-home .navbar-nav .navbar-item .navbar-sub-nav .navbar-sub-title:hover { color: #005b74; }
.navbar-wrapper .navbar-home .navbar-nav .navbar-item .navbar-sub-nav .navbar-sub-title > a { display: block; }
.navbar-wrapper .navbar-home .navbar-nav .navbar-item .navbar-sub-nav .thumb { width: 100%; margin-top: 0.25em; margin-bottom: 0.33333em; }
.navbar-wrapper .navbar-home .navbar-nav .navbar-item .navbar-sub-nav .thumb img { width: 100%; }
.navbar-wrapper .navbar-home .navbar-nav .navbar-item .navbar-sub-nav .title { text-align: center; color: #535353; font-size: 0.58333em; }
.navbar-wrapper .navbar-toggle { border-color: #FFF; }
.navbar-wrapper .icon-bar { background-color: #FFF; }
.navbar-wrapper .container { padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; }

.common-category { width: 100%; }
.common-category .common-category-title, .common-category .common-category-list { width: 100%; }
.common-category .common-category-title { text-align: center; padding: 1.66667em 0 1.375em; }
.common-category .common-category-title span { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0; font-size: 1.75em; line-height: 1; color: #505050; position: relative; }
.common-category .common-category-title span.icon:after { content: ""; position: absolute; top: 50%; left: 0; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); }
.common-category .common-category-title span.icon-book { padding-left: 1.42857em; }
.common-category .common-category-title span.icon-book:after { width: 1.07143em; height: 1.14286em; background: url("../img/icon-book.png") top center no-repeat; background-size: 100% 100%; }
.common-category .common-category-title span.icon-ar { padding-left: 1.61905em; }
.common-category .common-category-title span.icon-ar:after { width: 1.19048em; height: 1em; background: url("../img/icon-ar.png") top center no-repeat; background-size: 100% 100%; }
.common-category .common-category-title span.icon-service { padding-left: 1.5em; }
.common-category .common-category-title span.icon-service:after { width: 1.16667em; height: 1.16667em; background: url("../img/icon-service.png") top center no-repeat; background-size: 100% 100%; }
.common-category .common-category-title span.icon-info { padding-left: 1.61905em; }
.common-category .common-category-title span.icon-info:after { width: 1.38095em; height: 0.95238em; background: url("../img/icon-info.png") top center no-repeat; background-size: 100% 100%; }
.common-category .common-category-item-box { -webkit-transition: all .5s linear; -moz-transition: all .5s linear; -ms-transition: all .5s linear; -o-transition: all .5s linear; transition: all .5s linear; margin-bottom: 0.83333em; width: 100%; background-color: #efefef; }
.common-category .common-category-item-box > .thumb { display: block; width: 100%; }
.common-category .common-category-item-box .item-bottom { padding: 1.29167em 0.83333em; position: relative; font-size: 1em; }
.common-category .common-category-item-box .item-bottom > .item-title { line-height: 1.5; font-weight: bold; }
.common-category .common-category-item-box .item-bottom .link { cursor: pointer; margin: 0; padding: 0; width: 6.66667em; height: 1.875em; line-height: 1.75em; text-indent: 0.83333em; position: absolute; color: #323232; border: 1px solid #323232; right: 0.70833em; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -o-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
.common-category .common-category-item-box .item-bottom .link:hover:after { right: 1em; }
.common-category .common-category-item-box .item-bottom .link:after { position: absolute; width: 0.58333em; height: 0.58333em; background: url("../img/arrow.png") top center no-repeat; -webkit-background-size: 100% 100%; background-size: 100% 100%; right: 0.75em; content: ""; top: 50%; -webkit-transition: right .5s; -moz-transition: right .5s; -ms-transition: right .5s; -o-transition: right .5s; transition: right .5s; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); }

.common-address { font-size: 0.75em; line-height: 1.16667em; margin: 0.58333em 0; color: #505050; }
.common-address .common-address-content { width: 100%; padding: 0 1.25em; }
.common-address .container { padding-left: 0; }
.common-address a { color: inherit; padding: 0 0.33333em; }

.common-article { width: 100%; }
.common-article .common-article-container { background: #fff; padding: 2.08333em 1.5em 1.91667em 1.625em; }
.common-article .row { margin-left: -23px; margin-right: -23px; }
.common-article .common-article-header { text-align: center; font-size: 1.75em; }
.common-article .common-article-item { margin-top: 1.79167em; }
.common-article .common-item-title { font-size: 1em; line-height: 1; color: #005b74; padding-left: 1.66667em; position: relative; margin-bottom: 13px; }
.common-article .common-item-title:after { content: ""; position: absolute; left: 0; width: 1.29167em; height: 1.08333em; background: url("../img/icon-ar-color.png") top center no-repeat; background-size: 100% 100%; bottom: 0; }
.common-article .common-item-title.icon:after { top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); }
.common-article .common-item-title.icon-machine:after { width: 1.41667em; height: 1em; background: url("../img/icon-machine.png") top center no-repeat; background-size: 100% 100%; }
.common-article .common-item-title.icon-building:after { width: 0.95833em; height: 0.95833em; background: url("../img/icon-building.png") top center no-repeat; background-size: 100% 100%; }
.common-article .common-item-title.icon-movie:after { width: 1.16667em; height: 1.33333em; background: url("../img/icon-movie.png") top center no-repeat; background-size: 100% 100%; }
.common-article .common-item-title.icon-train:after { width: 1.04167em; height: 1.04167em; background: url("../img/icon-train.png") top center no-repeat; background-size: 100% 100%; }
.common-article .common-item-title.icon-wind:after { width: 1em; height: 1.29167em; background: url("../img/icon-wind.png") top center no-repeat; background-size: 100% 100%; }
.common-article .common-item-title.icon-action:after { width: 1em; height: 1.04167em; background: url("../img/icon-action.png") top center no-repeat; background-size: 100% 100%; }
.common-article .common-item-thumb { width: 100%; }
.common-article .common-item-thumb img { width: 100%; }
.common-article .common-item-desc { font-size: 0.66667em; line-height: 1.5; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #d2d2d2; padding: 0.66667em 1em; }
.common-article .common-item-desc .word { width: 100%; height: 100%; overflow: hidden; }
.common-article .common-item-desc a { color: #005b74; }

.common-container { width: 100%; }
.common-container .container { padding: 0 0.625em 1.66667em; }
.common-container .sub-container { background: #fff; padding: 2.08333em 1.25em 0; }
.common-container .common-header { text-align: center; font-size: 1.75em; margin-bottom: 1.25em; }
.common-container .common-main { background: #fff; }
.common-container .no-thumb .common-li .common-li-thumb { display: none; }
.common-container .no-thumb .common-li .common-li-title { margin-left: 0.88889em; }
.common-container .common-li { cursor: pointer; margin-bottom: 6px; padding: 6px; position: relative; font-size: 0.75em; }
.common-container .common-li .common-li-thumb { width: 4.94444em; height: 3.61111em; position: absolute; left: 6px; top: 6px; text-align: right; }
.common-container .common-li .common-li-thumb img { max-width: 100%; max-height: 100%; position: absolute; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); right: 0; }
.common-container .common-li .common-li-title { height: 3.61111em; margin: 0 7.55556em 0 5.83333em; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; line-height: 3.61111em; }
.common-container .common-li .common-li-title .bold { color: #005b74; font-weight: bold; }
.common-container .common-li .common-li-attach { width: 7.55556em; height: 3.61111em; line-height: 3.61111em; text-align: center; font-size: 1em; position: absolute; right: 6px; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); }
.common-container .common-li:nth-child(odd) { background: #efefef; }
.common-container .common-li:nth-child(even) { background: #e2e2e2; }

.common-page { font-size: 14px; width: 100%; height: 40px; margin: 18px auto; text-align: center; }
.common-page div { cursor: pointer; }
.common-page div + div { margin-left: 0.57143em; }
.common-page .page-num { width: 4.28571em; display: inline-block; height: 2.5em; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #959595; }
.common-page .page-num input { border: none; outline: none; display: block; width: 100%; height: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0.64286em; }
.common-page .page-sum { display: inline-block; height: 2.5em; line-height: 2.5em; }
.common-page .page-prev, .common-page .page-next, .common-page .page-goto { display: inline-block; width: 3.21429em; height: 2.5em; background: #eeeeee; text-align: center; line-height: 2.5em; }
.common-page .page-goto { background: #000000; color: #fff; }

.common-sub-nav { margin-top: 40px; }
.common-sub-nav .row { margin-left: -6px; margin-right: -6px; }
.common-sub-nav .sub-nav-box { margin-bottom: 0.58333em; padding: 0em 6px; }
.common-sub-nav .sub-nav-item { width: 100%; height: 5.29167em; background: #005b74; color: #fff; position: relative; }
.common-sub-nav .sub-nav-item:before { display: block; content: ""; position: absolute; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); }
.common-sub-nav .sub-nav-item.icon-machine:before { left: 7.8125%; width: 4.375em; height: 3.04167em; background: url("../img/icon-machine-big.png") top center no-repeat; background-size: 100% 100%; }
.common-sub-nav .sub-nav-item.icon-building:before { left: 13.02083%; width: 3.04167em; height: 3.125em; background: url("../img/icon-building-big.png") top center no-repeat; background-size: 100% 100%; }
.common-sub-nav .sub-nav-item.icon-movie:before { left: 12.5%; width: 3.08333em; height: 3.5em; background: url("../img/icon-movie-big.png") top center no-repeat; background-size: 100% 100%; }
.common-sub-nav .sub-nav-item.icon-train:before { left: 14.58333%; width: 3.5em; height: 3.5em; background: url("../img/icon-train-big.png") top center no-repeat; background-size: 100% 100%; }
.common-sub-nav .sub-nav-item.icon-wind:before { left: 14.84375%; width: 2.91667em; height: 3.70833em; background: url("../img/icon-wind-big.png") top center no-repeat; background-size: 100% 100%; }
.common-sub-nav .sub-nav-item.icon-action:before { left: 13.02083%; width: 3.33333em; height: 3.45833em; background: url("../img/icon-action-big.png") top center no-repeat; background-size: 100% 100%; }
.common-sub-nav .sub-nav-item:after { display: block; content: ""; position: absolute; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); width: 2em; height: 2.83333em; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 2px solid #fff; right: 10.15625%; background: url("../img/icon-arrow.png") center center no-repeat; background-size: 0.79167em 1.41667em; }
.common-sub-nav .sub-nav-title { font-size: 1.33333em; line-height: 1.125em; position: absolute; right: 26.8%; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); margin-top: -3px; }
.common-sub-nav .sub-nav-title span { display: block; }

.article { width: 100%; }
.article .head1 { font-size: 22px; line-height: 1.5; color: #005b74; font-weight: bold; margin-bottom: 6px; }
.article p { font-size: 16px; line-height: 1.5; text-indent: 2em; }
.article img { max-width: 100%; }

.recommend { width: 100%; overflow: hidden; margin-top: 2.5em; }
.recommend .recommend-title { font-size: 1em; line-height: 1.3; font-weight: bold; color: #005b74; margin-bottom: 0.83333em; }
.recommend .recommend-list .recommend-item-title { margin-bottom: 11px; cursor: pointer; background: #ececed; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-size: 0.91667em; line-height: 1; padding: 0.81818em 0em 0.81818em 1.13636em; position: relative; }
.recommend .recommend-list .recommend-item-title:after { content: ""; position: absolute; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); width: 0.31818em; height: 0.59091em; background: url("../img/icon-arrow-3.png") top center no-repeat; background-size: 100% 100%; right: 6%; }
.recommend .recommend-list .recommend-item-title.active { background: #005b74; color: #fff; }
.recommend .recommend-list .recommend-item-title.active:after { background: url("../img/icon-arrow-4.png") top center no-repeat; background-size: 100% 100%; }

/*about us css*/
.about-us-list { width: 100%; font-size: 0.58333em; }
.about-us-list .head2 { color: #005b74; }
.about-us-list .head2 .name { font-size: 1.71429em; }
.about-us-list .head2 .profession { font-size: 1.14286em; padding-left: 1.14286em; }
.about-us-list .thumb { float: left; width: 12.92857em; height: 12.92857em; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; overflow: hidden; margin-right: 0.85714em; }
.about-us-list .thumb img { width: 100%; height: 100%; }
.about-us-list .content { overflow: hidden; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-top: 0.71429em; padding-right: 10px; }
.about-us-list .content .desc { line-height: 1.57143em; margin-top: 0.71429em; }
.about-us-list .col-list { padding-top: 1.85714em; padding-bottom: 1.85714em; position: relative; margin-bottom: 10px; border-bottom: 2px solid #e5e5e5; }

/*company-news*/
.company-news .head2 { font-weight: bold; height: 1.54167em; line-height: 1.54167em; position: relative; margin-bottom: 12px; }
.company-news .head2 .cn { font-size: 1em; color: #005b74; }
.company-news .head2 .en { font-size: 0.70833em; color: #a1a1a1; text-transform: uppercase; }
.company-news .head2 .more { padding: 0 1.25em; position: absolute; right: 0; height: 100%; color: #005b74; font-size: 0.75em; font-weight: normal; background: #efefef; }
.company-news .swiper-slide { margin-left: 0; margin-right: 0; position: relative; }
.company-news .swiper-slide .pic-group { width: 23.70833em; overflow: hidden; max-width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 5px; border: 1px solid #d5d5d5; }
.company-news .swiper-slide .pic-group .pic-box { width: 100%; overflow: hidden; }
.company-news .swiper-slide .pic-group .pic-list { width: 99999px; }
.company-news .swiper-slide .pic-group img { width: 23.29167em; display: block; float: left; max-width: 100%; }
.company-news .swiper-slide .info-group { position: absolute; left: 26.16667em; top: 0; }
.company-news .swiper-slide .info-group .info-box { display: none; margin-right: 1.25em; }
.company-news .swiper-slide .info-group .info-box:first-child { display: block; }
.company-news .swiper-slide .info-group .title { margin-top: 0.58333em; font-size: 0.91667em; }
.company-news .swiper-slide .info-group .desc { width: auto; font-size: 0.75em; margin-top: 2.11111em; }
.company-news .swiper-slide .indicator { position: absolute; right: 10px; bottom: 6px; }
.company-news .swiper-slide .indicator div { width: 0.91667em; height: 0.91667em; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; background-color: #efefef; float: left; }
.company-news .swiper-slide .indicator div + div { margin-left: 0.41667em; }
.company-news .swiper-slide .indicator div.active { background: #005b74; }
.company-news .common-ul { margin-top: 1.04167em; margin-bottom: 1.66667em; }
.company-news .focus-group .focus-pic { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #d5d5d5; padding: 5px; }
.company-news .focus-group .focus-pic img { width: 100%; }
.company-news .testimonials { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 1.45833em 0.83333em; background: #efefef; }
.company-news .testimonials + .testimonials { margin-top: 20px; }
.company-news .testimonials .thumb { float: left; margin-right: 0.83333em; }
.company-news .testimonials .thumb img { width: 100%; }
.company-news .testimonials .content { overflow: hidden; }
.company-news .testimonials .content .title { font-size: 0.91667em; color: #005b74; font-weight: bold; }
.company-news .testimonials .content .desc { font-size: 0.66667em; line-height: 1.5; margin-top: 1.125em; margin-bottom: 1em; }
.company-news .testimonials .content .link { padding: 0.375em 1.25em; color: #fff; font-size: 0.75em; font-weight: normal; background: #b3b3b3; }

/*industrial*/
.industrial-container.sub-container { padding-left: 0; padding-right: 0; }
.industrial-container .category { width: auto; text-align: center; }
.industrial-container .category .category-box { display: inline-block; border-bottom: 1px solid #337c90; position: relative; padding: 0 10px 0.91667em 10px; }
.industrial-container .category .category-box:after { position: absolute; width: 0.55556em; height: 0.55556em; content: ""; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; bottom: 0; left: 50%; -webkit-transform: translate(-50%, 50%) rotateZ(45deg); -moz-transform: translate(-50%, 50%) rotateZ(45deg); -ms-transform: translate(-50%, 50%) rotateZ(45deg); -o-transform: translate(-50%, 50%) rotateZ(45deg); transform: translate(-50%, 50%) rotateZ(45deg); background: #fff; border-style: solid; border-width: 1px; border-color: transparent #337c90   #337c90 transparent; }
.industrial-container .category .category-item { margin-bottom: 10px; font-size: 0.75em; padding-right: 10px; padding-left: 10px; cursor: pointer; }
.industrial-container .category .category-item.active .category-title { color: #fff; background: #005b74; }
.industrial-container .category .category-item.active .category-title.icon-machine:after { background: url("../img/icon-machine-sm.png") top center no-repeat; background-size: 100% 100%; }
.industrial-container .category .category-item.active .category-title.icon-building:after { background: url("../img/icon-building-sm.png") top center no-repeat; background-size: 100% 100%; }
.industrial-container .category .category-item.active .category-title.icon-movie:after { background: url("../img/icon-movie-sm.png") top center no-repeat; background-size: 100% 100%; }
.industrial-container .category .category-item.active .category-title.icon-train:after { background: url("../img/icon-train-sm.png") top center no-repeat; background-size: 100% 100%; }
.industrial-container .category .category-item.active .category-title.icon-wind:after { background: url("../img/icon-wind-sm.png") top center no-repeat; background-size: 100% 100%; }
.industrial-container .category .category-item.active .category-title.icon-action:after { background: url("../img/icon-action-sm.png") top center no-repeat; background-size: 100% 100%; }
.industrial-container .category .category-title { display: block; line-height: 1; width: 100%; padding: 10px 0.5em 10px 1.94444em; }
.industrial-container .category .category-title:after { content: ""; position: absolute; left: 0.88889em; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); }
.industrial-container .category .category-title.icon-machine:after { background: url("../img/icon-machine-sm-default.png") top center no-repeat; width: 1.27778em; height: 0.88889em; background-size: 100% 100%; }
.industrial-container .category .category-title.icon-building:after { background: url("../img/icon-building-sm-default.png") top center no-repeat; width: 0.94444em; height: 0.94444em; background-size: 100% 100%; }
.industrial-container .category .category-title.icon-movie:after { background: url("../img/icon-movie-sm-default.png") top center no-repeat; width: 0.94444em; height: 1.11111em; background-size: 100% 100%; }
.industrial-container .category .category-title.icon-train:after { background: url("../img/icon-train-sm-default.png") top center no-repeat; width: 0.94444em; height: 0.94444em; background-size: 100% 100%; }
.industrial-container .category .category-title.icon-wind:after { background: url("../img/icon-wind-sm-default.png") top center no-repeat; width: 0.88889em; height: 1.05556em; background-size: 100% 100%; }
.industrial-container .category .category-title.icon-action:after { background: url("../img/icon-action-sm-default.png") top center no-repeat; width: 1.05556em; height: 1.05556em; background-size: 100% 100%; }
.industrial-container p { font-size: 0.83333em; line-height: 1.6; text-indent: 2em; }
.industrial-container .head2 { font-size: 1.75em; text-align: center; margin-top: 1.42857em; margin-bottom: 0.71429em; }
.industrial-container .head2 .icon { position: relative; }
.industrial-container .head2 .icon:after { content: ""; width: 0.95238em; height: 1.09524em; background: url("../img/icon-light.png") top center no-repeat; background-size: 100% 100%; position: absolute; left: -1.33333em; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); }
.industrial-container .img-group > div { margin-bottom: 1.25em; }
.industrial-container .img-group img { width: 100%; }
.industrial-container .img-group .content { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 1.45833em 1.125em 1.66667em; background: #efefef; font-weight: normal; }
.industrial-container .img-group .content .title { font-size: 1em; line-height: 1; font-weight: bold; }
.industrial-container .img-group .content .desc { font-size: 0.66667em; line-height: 1.5; margin: 1em 0; }
.industrial-container .img-group .content .more { font-size: 1em; color: #005b74; line-height: 1; padding: 0.41667em 1.95833em 0.41667em 1em; border: 1px solid #005b74; position: relative; }
.industrial-container .img-group .content .more:after { position: absolute; content: ""; width: 0.58333em; height: 0.58333em; background: url("../img/icon-arrow-2.png") top center no-repeat; background-size: 100% 100%; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); right: 0.75em; }
.industrial-container .content { width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 2.41667em 2.08333em; }
.industrial-container .content .main img { max-width: 100%; }
.industrial-container .pre-nav { width: 100%; padding: 0.83333em 0; border-top: 1px dashed #d3d3d3; margin-top: 3.83333em; }
.industrial-container .pre-nav .pre-link { cursor: pointer; float: left; font-size: 0.66667em; }
.industrial-container .pre-nav .next-link { float: right; font-size: 0.66667em; cursor: pointer; }

/*media query*/
@media screen and (max-width: 767px) { body { font-size: 16px; }
  .common-article .container { padding-right: 0; padding-left: 0; background: #fff; }
  .common-container .container { background: #fff; }
  .common-container .sub-container { padding-left: 0; padding-right: 0; }
  .common-container .common-ul { margin-left: -10px; margin-right: -10px; }
  .company-news .swiper-slide { margin-left: -10px; margin-right: -10px; }
  .company-news .swiper-slide .pic-group { width: 100%; border: none; padding: 0; }
  .company-news .swiper-slide .info-group { position: absolute; top: auto; bottom: 0; left: 0; width: 100%; }
  .company-news .swiper-slide .info-group .info-box { background: rgba(0, 0, 0, 0.7); color: #fff; margin-right: 0; padding: 4px 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
  .company-news .swiper-slide .info-group .desc { display: none; }
  .company-news .focus-group .col-sm-4 { margin-bottom: 10px; }
  .company-news .testimonials .thumb { width: 100%; float: none; margin-right: 0; margin-bottom: 0.83333em; }
  .company-news .testimonials .link { float: right; }
  .industrial-container .category .category-title:after { left: 1.66667em; }
  .industrial-container .content { padding: 0; }
  .industrial-container .pre-nav { width: 100%; text-align: center; }
  .industrial-container .pre-nav .pre-link { float: none; margin: 10px auto; }
  .industrial-container .pre-nav .next-link { float: none; }
  .navbar-wrapper .navbar-collapse { padding-right: 0; }
  .navbar-wrapper .navbar-home .navbar-brand { width: 3.33333em; padding-left: 0.41667em; padding-top: 0em; }
  .navbar-wrapper .navbar-home .navbar-nav.navbar-right { margin-right: 0; }
  .navbar-wrapper .navbar-home .navbar-nav .navbar-item { padding-top: 0em; padding-bottom: 0em; border-top: none; margin-left: 0; }
  .navbar-wrapper .navbar-home .navbar-nav .navbar-item + .navbar-item { margin-left: 0; }
  .navbar-wrapper .navbar-home .navbar-nav .navbar-item > a { cursor: pointer; font-size: 0.66667em; padding-top: 15px; padding-bottom: 15px; border-top: none; }
  .navbar-wrapper .navbar-home .navbar-nav .navbar-item > a:hover, .navbar-wrapper .navbar-home .navbar-nav .navbar-item > a.active { font-size: 0.66667em; border-top: none; background: #005b74; color: #fff; border-top: 0.25em solid transparent; border-left: 0.125em solid transparent; border-right: 0.125em solid transparent; }
  .navbar-wrapper .navbar-home .navbar-nav .navbar-item .navbar-sub-nav { line-height: 1; font-size: 1.2em; overflow: hidden; padding: 0; position: relative; width: 100%; height: auto; border-top: none; border-left: none; border-right: none; margin-top: 0; }
  .navbar-wrapper .navbar-home .navbar-nav .navbar-item .navbar-sub-nav .col-xs-12 { padding-left: 0; padding-right: 0; }
  .navbar-wrapper .navbar-home .navbar-nav .navbar-item .navbar-sub-nav .col-xs-12:nth-of-type(2) { display: none; }
  .navbar-wrapper .navbar-home .navbar-nav .navbar-item .navbar-sub-nav a { padding-left: 50px; padding-top: 12px; padding-bottom: 12px; }
  .navbar-wrapper .navbar-home .navbar-nav .navbar-item .navbar-sub-nav .spilt:after { display: none; }
  .navbar-wrapper .container { width: 100%; margin: 0; }
  .navbar-wrapper .navbar-collapse { background: #fff; color: #005b74; } }
@media screen and (min-width: 768px) { body { font-size: 18px; }
  .industrial-container .category .category-title:after { left: 1.11111em; }
  .industrial-container .pre-nav { width: 100%; padding: 0.83333em 0; border-top: 1px dashed #d3d3d3; margin-top: 3.83333em; }
  .industrial-container .pre-nav .pre-link { cursor: pointer; float: left; font-size: 0.66667em; }
  .industrial-container .pre-nav .next-link { float: right; font-size: 0.66667em; cursor: pointer; }
  .navbar-wrapper .navbar-home { background: transparent; }
  .navbar-wrapper .container { width: 100%; } }
@media screen and (min-width: 970px) { body { font-size: 20px; }
  .navbar-wrapper .container { width: 100%; } }
@media screen and (min-width: 1200px) { body { font-size: 22px; }
  .navbar-wrapper .container { width: 100%; } }
@media screen and (min-width: 1440px) { body { font-size: 24px; }
  .common-category-list > .container, .common-article > .container, .common-address > .container, .common-container > .container { width: 1280px; }
  .navbar-wrapper .container { width: 100%; } }

/*# sourceMappingURL=site.css.map */
