html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 0; }

input {
  -webkit-tap-highlight-color: transparent; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  background: #670c0d; }
  body.loaded .loading {
    -webkit-transition: all .5s linear;
    -webkit-transform: translate3d(0, -100%, 0); }

.bg {
  background-size: 100% 100%; }

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }
  .wrapper .logo {
    position: absolute;
    width: 18.59375%;
    top: 2.7%;
    left: 3.125%; }
  .wrapper .page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-transform: translate3d(100%, 0, 0); }
    .wrapper .page .curtain-left,
    .wrapper .page .curtain-right {
      position: absolute;
      width: 15.3125%;
      height: 100%;
      top: 0; }
    .wrapper .page .curtain-left {
      left: 0; }
    .wrapper .page .curtain-right {
      right: 0; }
    .wrapper .page.active {
      -webkit-transform: translate3d(0, 0, 0); }
  .wrapper .page1 .wall-pic {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0; }
  .wrapper .page1 .flower {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0; }
  .wrapper .page1 .angle-left {
    position: absolute;
    width: 27.65625%;
    left: 5.78125%;
    top: 6.9%; }
  .wrapper .page1 .angle-right {
    position: absolute;
    width: 33.125%;
    right: 0;
    top: 0; }
  .wrapper .page1 .title-box {
    position: absolute;
    width: 100%;
    top: 5.8%; }
    .wrapper .page1 .title-box .title {
      display: block;
      width: 80.625%;
      margin: auto; }
    .wrapper .page1 .title-box .xi {
      display: block;
      width: 38.28125%;
      margin: 0.9375% auto;
      position: relative; }
    .wrapper .page1 .title-box .flow-left,
    .wrapper .page1 .title-box .flow-right {
      bottom: 0;
      position: absolute;
      width: 40.625%;
      -webkit-transform: translate3d(0, 20%, 0); }
    .wrapper .page1 .title-box .flow-left {
      left: 4%; }
    .wrapper .page1 .title-box .flow-right {
      right: 4%; }
  .wrapper .page1 .light {
    position: absolute;
    width: 86.5625%;
    left: 0;
    right: 0;
    top: 0;
    margin: auto; }
  .wrapper .page1 .camera {
    position: absolute;
    width: 20.78125%;
    left: 0;
    right: 0;
    bottom: 13.8%;
    margin: auto; }
  .wrapper .page1 .btn {
    position: absolute;
    width: 64.6875%;
    left: 0;
    right: 0;
    bottom: 11.1%;
    margin: auto; }
  .wrapper .page1 .human-right {
    position: absolute;
    width: 66.71875%;
    right: 0;
    bottom: 0; }
    .wrapper .page1 .human-right .human-right-pic {
      width: 100%; }
    .wrapper .page1 .human-right .human-right-head {
      position: absolute;
      width: 64.87119%;
      top: 0;
      left: 26.93208%; }
  .wrapper .page1 .human-left {
    position: absolute;
    width: 60.15625%;
    left: 1.71875%;
    bottom: 0; }
    .wrapper .page1 .human-left .human-left-pic {
      width: 100%; }
    .wrapper .page1 .human-left .human-left-head {
      position: absolute;
      width: 47.79221%;
      top: -25.1004%;
      left: 14.28571%; }
  .wrapper .page2 .flower {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 71.40625%; }
  .wrapper .page2 .light {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
  .wrapper .page2 .title {
    position: absolute;
    top: 14.1%;
    right: 0;
    left: 0;
    margin: auto;
    width: 85.625%; }
  .wrapper .page2 .camera {
    position: absolute;
    width: 28.90625%;
    right: 0;
    bottom: 2.4%; }
  .wrapper .page2 .angle-left {
    position: absolute;
    top: 11.7%;
    left: 0;
    width: 24.375%; }
  .wrapper .page2 .angle-right {
    position: absolute;
    top: 1.1%;
    right: 0;
    width: 28.90625%; }
  .wrapper .page2 .btn {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 57.34375%; }
  .wrapper .page2 .btn1 {
    bottom: 28.0%; }
  .wrapper .page2 .btn2 {
    bottom: 15.2%; }
  .wrapper .page3 .piaodai {
    position: absolute;
    width: 78.59375%;
    top: 13%;
    left: 10.78125%; }
  .wrapper .page3 .make-photo,
  .wrapper .page3 .share-btn {
    position: absolute;
    width: 59.0625%;
    bottom: 9.7%;
    left: 0;
    right: 0;
    margin: auto; }
  .wrapper .page3 .share-btn {
    display: none;
    width: 37.1875%; }
  .wrapper .page3 .tips,
  .wrapper .page3 .save-tips {
    position: absolute;
    width: 36.25%;
    bottom: 23.2%;
    left: 0;
    right: 0;
    margin: auto; }
  .wrapper .page3 .save-tips {
    display: none;
    width: 52.65625%; }
  .wrapper .page3 .camera {
    position: absolute;
    width: 0.41rem;
    height: 0.33rem;
    top: 0.7rem; }
    .wrapper .page3 .camera img {
      width: 100%;
      height: 100%; }
  .wrapper .page3 .mask1, .wrapper .page3 .mask2 {
    opacity: 0; }
  .wrapper .page3 .uniform-box {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
    .wrapper .page3 .uniform-box.active {
      display: block; }
    .wrapper .page3 .uniform-box .flower {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0; }
    .wrapper .page3 .uniform-box .unifom-bg {
      width: 100%;
      height: 100%; }
    .wrapper .page3 .uniform-box .frame {
      position: absolute;
      width: 5.5rem;
      height: 4.51rem;
      left: 0;
      right: 0;
      margin: auto;
      top: 26%; }
      .wrapper .page3 .uniform-box .frame .frame-pic {
        width: 100%;
        height: 100%; }
      .wrapper .page3 .uniform-box .frame .person {
        position: absolute;
        width: 4.93rem;
        height: 3.54rem;
        top: 0.7rem;
        left: 0;
        right: 0;
        margin: auto; }
      .wrapper .page3 .uniform-box .frame #uniform-left-canvas,
      .wrapper .page3 .uniform-box .frame .mask1 {
        position: absolute;
        width: 0.96rem;
        height: 1.23rem;
        left: 1.16rem;
        top: 1.1rem; }
      .wrapper .page3 .uniform-box .frame #uniform-right-canvas,
      .wrapper .page3 .uniform-box .frame .mask2 {
        position: absolute;
        width: 0.96rem;
        height: 1.23rem;
        left: 3.33rem;
        top: 0.93rem; }
      .wrapper .page3 .uniform-box .frame .camera-left {
        left: 1.43rem;
        top: 1.57rem; }
      .wrapper .page3 .uniform-box .frame .camera-right {
        left: 3.6rem;
        top: 1.44rem; }
  .wrapper .page3 .shirt-box {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
    .wrapper .page3 .shirt-box.active {
      display: block; }
    .wrapper .page3 .shirt-box .shirt-bg {
      width: 100%;
      height: 100%; }
    .wrapper .page3 .shirt-box .frame {
      width: 5.36rem;
      height: 4.47rem;
      position: absolute;
      top: 2.7rem;
      left: 0;
      right: 0;
      margin: auto;
      background: #ee0000; }
      .wrapper .page3 .shirt-box .frame .shirt-frame {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0; }
      .wrapper .page3 .shirt-box .frame .person {
        position: absolute;
        bottom: 0;
        width: 5.36rem;
        height: 3.9rem; }
      .wrapper .page3 .shirt-box .frame .camera-left {
        left: 1.23rem;
        top: 1.61rem; }
      .wrapper .page3 .shirt-box .frame .camera-right {
        left: 3.57rem;
        top: 1.33rem; }
      .wrapper .page3 .shirt-box .frame #shirt-left-canvas,
      .wrapper .page3 .shirt-box .frame .mask1 {
        position: absolute;
        width: 0.98rem;
        height: 1.25rem;
        left: 0.94rem;
        top: 1.04rem; }
      .wrapper .page3 .shirt-box .frame #shirt-right-canvas,
      .wrapper .page3 .shirt-box .frame .mask2 {
        position: absolute;
        width: 1.06rem;
        height: 1.35rem;
        left: 3.23rem;
        top: 0.74rem; }

.share-tips {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8); }
  .share-tips img {
    width: 76.25%;
    position: absolute;
    right: 6.5625%;
    top: 2.8%; }

/*# sourceMappingURL=mode.css.map */
