
<div id="object-background" ng-class="{ visible: visible }" ng-click="closeObject()"></div>
<div id="object-details" ng-class="{ visible: visible }" class="about">
	<h2>ABOUT THIS PROJECT</h2>	
	<div class="share-buttons">
		<h3>Share</h3>
		<div class="share-button-email" ng-click="share('email')"></div>
		<div class="share-button-google" ng-click="share('google')"></div>
		<div class="share-button-twitter" ng-click="share('twitter')"></div>
		<div class="share-button-facebook" ng-click="share('facebook')"></div>
	</div>
	<div class="close-button" ng-click="closeObject()">
	</div>
	<div class="object-content">
		<div class="column">
			<div class="object-description">
				<p>
					Welcome to The Museum of the World – an interactive experience through time, continents and cultures, featuring some of the most fascinating objects in human history. The project is a partnership between the <a href="http://www.britishmuseum.org">British Museum</a> and <a href="https://www.google.com/culturalinstitute/home">Google Cultural Institute</a>. For the first time ever, discover objects from the British Museum’s collection from prehistory to the present using the most advanced WebGL (Web Graphics Library) technology available. Jump back in time to explore objects from across diverse cultures and listen to British Museum curators share their insights. Click to connect objects across time and space, and discover hidden links between then and now. Take a look around, explore and learn something new! Enjoy your visit.
				</p>
				<p>
					The website was designed and built by <a href="http://weirandwong.com/">WEIR+WONG</a>. All sound effects are provided under license from <a href="http://freesfx.co.uk">FreeSFX.co.uk</a>.
				</p>
			</div>
		</div>
		<div class="column">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 269.5 197.2">
			<g>
				<path fill="#FCEE21" d="M269.5,84.1c0,7.2-8.1,13-15.3,13s-13-5.8-13-13c0-7.2,5.8-15.3,13-15.3S269.5,76.9,269.5,84.1z"/>
				<path fill="#009245" d="M160.2,20.2c0,11.2-9,22.4-20.2,22.4c-11.2,0-22.4-11.3-22.4-22.4S128.8,0,140,0
					C151.1,0,160.2,9,160.2,20.2z"/>
				<path fill="#F7931E" d="M222.9,98.9c0,3.1-4.8,5.6-7.9,5.6s-5.6-2.5-5.6-5.6c0-3.1,2.5-7.9,5.6-7.9S222.9,95.8,222.9,98.9z"/>
				<path fill="#006837" d="M98.7,172c0,12-9.7,21.7-21.7,21.7s-24-9.7-24-21.7s12-24,24-24S98.7,160,98.7,172z"/>
				<path fill="#FBB03B" d="M119.7,60c0,5.5-5.3,10.8-10.8,10.8S99,66.3,99,60.8s3-11.4,8.5-11.4S119.7,54.5,119.7,60z"/>
				<path fill="#F2F2F2" d="M189,118.7c0,24.1-19.5,43.6-43.6,43.6s-49.6-19.5-49.6-43.6s25.5-43.6,49.6-43.6S189,94.6,189,118.7z"/>
				<path fill="#0087BC" d="M235.7,44.7c0,17.7-14.3,32-32,32s-32-14.3-32-32s14.3-34,32-34S235.7,27,235.7,44.7z"/>
				<path fill="#FFBA0A" d="M31.8,81.3c0,8.4-8.3,12.7-16.7,12.7S0,87.2,0,78.8s6.8-15.2,15.2-15.2S31.8,72.9,31.8,81.3z"/>
				<path fill="#22B573" d="M76.9,114.3c0,10.4-9.3,20.9-19.7,20.9s-21.7-6.9-21.7-17.3s11.3-20.3,21.7-20.3S76.9,103.9,76.9,114.3z"/>
				<path fill="#8CC63F" d="M204.9,180.5c0,9.2-12,16.7-21.2,16.7s-16.7-7.5-16.7-16.7s7.5-19,16.7-19S204.9,171.2,204.9,180.5z"/>
				<path fill="#00A99D" d="M86.8,49c0,13.9-9,27.6-22.8,27.6S36.6,62.8,36.6,49s11.2-25.1,25.1-25.1S86.8,35.1,86.8,49z"/>
				<path fill="#29ABE2" d="M267.2,146.1c0,16.4-13.3,34.2-29.7,34.2s-29.7-17.8-29.7-34.2s13.3-29.7,29.7-29.7
					S267.2,129.7,267.2,146.1z"/>
			</g>
			</svg>
		</div>
		<div class="column">
 		</div>
	</div>
</div>
